{% extends 'base.html' %}

{% block main %}
<div id='overview'>
    <img id="profileimg" src="{{url_for('static', filename='Joy.jpeg')}}" alt="Profile picture"> 
    <h1>Joanna-Joy Gray</h1>
    <p>
        @joyG <br>
        Montego Bay, Jamaica <br>
        {{ joinDate }}
    </p>
</div>
<div id='details'>
    <p id='bio'>Also known as 'Joy', 'Jo', or even 'Kat', I am a 21 year old young lady who loves God, family and friends, nature and books.</p>
    <p id='postsNo'>
        2 
    </p>    
    <p id='followingNo'>
        70 
    </p>    
    <p id='followersNo'>
        120 
    </p>
    <p id='posts'>
        Posts
    </p>
    <p id='following'>
        Following
    </p>
    <p id='followers'>
        Followers
    </p>
    <button id="followBtn">Follow</button>
</div>
{% endblock %}